h1 {
  text-align: center;
}

td img {
  width: 25px;
}

.jumbotron p {
  font-size: 1.2em;
}

.jumbotron {
  margin-top: 5em;
  margin-bottom: 5em;
  background-color: #b3b2b1;
}
body{
  font-family: 'Work Sans', sans-serif;  
}
